<%= form_for @person, url: admin_showPerson_path(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Date of Birth" %><br>
    <%= f.text_field :birthdate %>
  </div>
  <div class="field">
    <%= f.label "From" %><br>
    <%= f.text_field :birthplace %>
  </div>
  <div class="field">
    <%= f.label "Date of Death" %><br>
    <%= f.text_field :deathdate %>
  </div>
  <div class="field">
    <%= f.label "Place of Death" %><br>
    <%= f.text_field :deathplace %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_area :story %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
