<p id="notice"><%= notice %></p>

<h1>Listing People: (<%= @people.count %> Total)</h1>

<%= link_to '+ New Person', new_person_path %>

<br/>
<br>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>From</th>
      <th>Deathdate</th>
      <th>Deathplace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= image_tag(person.image.url(:thumb)) %></td>
        <td><%= person.name %></td>
        <td><%= person.birthdate %></td>
        <td><%= person.birthplace %></td>
        <td><%= person.deathdate %></td>
        <td><%= person.deathplace %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
