<%= image_tag(@person.image.url(:medium)) %>
<span id="name"><%= @person.name %></h1></span>
<span id="birthdate"><%= @person.birthdate %></span>
<span id="birthplace"><%= @person.birthplace %></span>
<span id="deathdate"><%= @person.deathdate %></span>
<span id="deathplace"><%= @person.deathplace %></span>
<span id="story"><%= @person.story %></span>