<script type="text/javascript">
$(document).ready(function(){   
  $(".navbar").on("click touchend","#textBox",function(){   
        var request = new XMLHttpRequest();
        request.open('get', '/keyOpen', false);
        request.send(null);
  });
  $(".peoplepage").on("click touchend",function(){
          if(!$(event.target).is("input")){
          var request = new XMLHttpRequest();
          request.open('get', '/keyClose', false);
          request.send(null);
    }
  });
});
</script>

<span class='peoplepage'>
  <div class="navbar">
  <%= button_to "Back", {controller: :static_pages, action: :nav}, {id: "backButton", class: "searchButton", method: :get}%>

  <%= form_tag({controller: :people, action: :kioskIndex, page: 1}, id: "searchForm" ,method: "get") do %>
  <input type="text" name="search" id="textBox" value=<%= params[:search] %>>
  <input type="submit" class="searchButton" id="searchButton" value="Search">
  <% end %>
  </div>

  <div class="peoplebox">

    <ul>
      <% @people.each do |person| %>
        <%= link_to person do %>
          <div class="personbox">
            <%= image_tag(person.image.url(:thumb)) %>
            <h2><%= person.name %></h2>

            <% if !person.birthdate.blank? && person.deathdate.blank? %>
              <p>Born: <%= person.birthdate %></p>
            <% elsif person.birthdate.blank? && !person.deathdate.blank? %>
              <p>Died: <%= person.deathdate %></p>
            <% elsif !person.birthdate.blank? && !person.deathdate.blank? %>
              <p><%= person.birthdate %> - <%= person.deathdate %></p>
            <% end %>

            <% if !person.birthplace.blank? && person.deathplace.blank? %>
              <p><%= person.birthplace %></p>
            <% elsif person.birthplace.blank? && !person.deathplace.blank? %>
              <p><%= person.deathplace %></p>
            <% elsif !person.birthplace.blank? && !person.deathplace.blank? %>
              <p><%= person.birthplace %> - <%= person.deathplace %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </ul>

    <br>
  </div>

  <div class="pagebar">
    <hr>
      <center>
        <% unless @currentPage == 1 %>
          <%= button_to "Previous",{controller: :people, action: :kioskIndex}, {id: "prevButton", class: "searchButton", method: :get, params: {page: @currentPage-2, search: params[:search]}, style: "display:inline;"}%>
        <% else %>
          <p id="leftButton">Previous</p>
        <% end %>
        <h1 style="display:inline;">Page <%= @currentPage %> of <%= @totalPages %></h1>
        <% unless @currentPage == @totalPages %>        
          <%= button_to "Next",{controller: :people, action: :kioskIndex}, {id: "nextButton", class: "searchButton", method: :get, params: {page: @currentPage, search: params[:search]}} %>
        <% else %>
          <p id="rightButton">Next</p>
        <% end %>
      </center>
  </div>

</span>
