<div class="navbar" id="adminpage">
<%= link_to 'Back', admin_path, class: "searchButton", style:"padding-left:50px;padding-top:25px"%>
</div>


<div class="content" id="formpage">
<br><br>
<%= image_tag(@person.image.url(:small)) %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @person.birthdate %>
</p>

<p>
  <strong>From:</strong>
  <%= @person.birthplace %>
</p>

<p>
  <strong>Date of Death:</strong>
  <%= @person.deathdate %>
</p>

<p>
  <strong>Place of Death:</strong>
  <%= @person.deathplace %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.story %>
</p>

<%= link_to 'Edit', admin_editPerson_path(@person) %> |
<%= link_to 'Back', admin_path %>
</div>
