<%= form_for @background_image, url: admin_showBackground_path(@background_image) do |f| %>
  <% if @background_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@background_image.errors.count, "error") %> prohibited this background_image from being saved:</h2>

      <ul>
      <% @background_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Background Image:" %><br><br>
    <%= f.file_field :image %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
